# Detection module configuration options

config BT_SRCC_BTLEJACK
    bool "Sirocco BTLEJack module"
    depends on BT_SIROCCO
    help
        Enable BTLEJack detection module

config BT_SRCC_BTLEJUICE
    bool "Sirocco BTLEJuice module"
    depends on BT_SIROCCO
    help
        Enable BTLEJuice detection module

config BT_SRCC_OASIS_GATTACKER
    bool "Oasis GATTacker module"
    depends on BT_SIROCCO
    help
        Enable Oasis GATTacker detection module

config BT_SRCC_GATTACKER
    bool "Sirocco GATTacker module"
    depends on BT_SIROCCO
    help
        Enable GATTacker detection module

config BT_SRCC_INJECTABLE
    bool "Sirocco InjectaBLE module"
    depends on BT_SIROCCO
    help
        Enable InjectaBLE detection module

config BT_SRCC_JAMMING
    bool "Sirocco jamming module"
    depends on BT_SIROCCO
    help
        Enable jamming detection module

config BT_SRCC_KNOB
    bool "Sirocco KNOB module"
    depends on BT_SIROCCO
    help
        Enable KNOB detection module

config BT_SRCC_ALL
    bool "All detection modules"
    select BT_SRCC_BTLEJACK
    select BT_SRCC_BTLEJUICE
    select BT_SRCC_GATTACKER
    select BT_SRCC_INJECTABLE
    select BT_SRCC_JAMMING
    select BT_SRCC_KNOB
    help
      Enable all detection modules
